@model CafeCustomerClient.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Order Status";
}

<h2>Order Status</h2>

<div>
    <p>Order ID: @Model.Id</p>
    <p>Items: @Model.Items</p>
    <p>Total Price: @Model.TotalPrice</p>
</div>
